{
  "presets":  ["react"],
  "plugins": [
    ["import", {"libraryName": "antd", "libraryDirectory": "es", "style": "less"}],
    "transform-object-rest-spread",
    "transform-async-generator-functions"
  ]
}
