@import '~photon-ant/index.less';

@box-padding: 20px;

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;

  header {
    align-items: baseline;
    background-color: @purple-50;
    display: flex;
    padding: @box-padding;

    h1 {
      color: @white;
      font-weight: 400;
      margin: 0 @box-padding 0 0;
    }

    nav {
      font-size: 20px;

      a {
        color: @white;

        &:not(:last-child) {
          margin-right: @box-padding;
        }

        &.active {
          font-weight: 600;
        }

        &:hover {
          text-shadow: 0 0 2px @white;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.content {
  padding: @box-padding;

  section {
    margin-top: 25px;
  }
}

.recipe-viewer {
  .recipe-list {
    margin-bottom: 10px;
    min-height: 475px;

    .ant-collapse-header {
      padding-right: 12px;

      .recipe-header {
        display: flex;

        h3 {
          flex: 1 1;
          font-size: 15px;
        }

        .icons {
          > * {
            margin-left: 5px;
          }

          .filter-match {
            position: relative;
            width: 16px;
            height: 16px;
            display: inline-block;

            :not(.anticon-user) {
              left: 3px;
              position: absolute;
              top: 4px;
            }

            .anticon-user {
              color: #aaa;
              position: absolute;
              left: -2px;
              top: 0px;
            }
          }
        }
      }
    }

    h4 {
      font-weight: 600;
    }
  }
}

span.ant-spin-dot > i {
  display: none;
}
