.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: @primary-color;
}

.text-success {
  color: @success-color;
}

.text-danger {
  color: @error-color;
}
