@icon-font-path: "~rsuite/lib/styles/fonts";

@font-size-large: 15px;
@font-size-base: 13px;
@font-size-small: 13px;

@padding-base-vertical: 6px;
@padding-base-horizontal: 10px;

@border-radius-base: 4px;

@nav-bar-padding-vertical: 15px;

@avatar-sm-side-length: 32px;
